/* Layout for the main container that holds conversations and messages */
.conversations-with-messages {
    display: flex;
    height: 100%;
    width: 100%;
}

/* Sidebar wrapper for conversation list */
.conversations-wrapper {
    height: 100%;
    width: 480px; /* Fixed width for conversation list */
    overflow: hidden; /* Hide any overflowing content */
    display: flex;
    flex-direction: column;
    height: inherit;
}

/* Hide overflow content inside the conversation component */
.conversations-wrapper > .cometchat {
    overflow: hidden;
}

/* Message section layout */
.messages-wrapper {
    width: calc(100% - 480px); /* Take remaining space */
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Styling for when no conversation is selected */
.empty-conversation {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: var(--cometchat-text-color-secondary, #727272);
    font: var(--cometchat-font-body-regular, 400 14px Roboto);
}

/* Ensure message composer does not have rounded corners */
.cometchat .cometchat-message-composer {
    border-radius: 0px;
}